---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About";
const identity = {
  firstName: "Kyle",
  country: "United States",
  occupation: "Healthcare IT Consultant",
  hobbies: ["weight training", "running", "pc gaming"],
};

const skills = ["Python", "C++", "HTML", "CSS", "JavaScript", "React", "Astro"];
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    I'm based in Corvallis, Oregon where I'm currently completing
    a post-bacc degree studying computer science. I'm also working on a few web
    development projects in my free time.
  </p>
  <p>Here are a few facts about me:</p>
  <ul>
    <li>My name is {identity.firstName}.</li>
    <li>
      I live in {identity.country} and I work as a {identity.occupation}.
    </li>
    {
      identity.hobbies.length >= 2 && (
        <li>
          Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
        </li>
      )
    }
  </ul>
  <p>My skills are:</p>
  <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
  </ul>
</BaseLayout>
